* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(cross.png);
    background-size: contain;
    margin-left: 10px;
    vertical-align: middle;
}

.checked {
    text-decoration: line-through;
    list-style-image: url(check-box.png);
    background-color: rgb(190, 190, 190);
    padding: 10px;
    align-content: center;
    list-style-position: inside;
}

.unchecked {
    list-style-image: url(check-box-empty.png);
    background-color: rgb(129, 173, 194);
    padding: 10px;
    align-content: center;
    list-style-position: inside;
}

#task-list {
    width: 320px;
    margin: auto;
    padding: 20px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
}

h1 {
    text-align: center;
    color: #333333;
}