* {
    font-family: 'Times New Roman', Times, serif;
}

#list-1 {
   background-color: rgb(255, 203, 211);
   padding: 10px;
   width: 320px;
}

.row {
    background-color: rgb(255, 181, 193);
    margin-bottom: 10px;
    margin-left: 10px;
    width: 300px;
    color: white;
    
}

.fruit {
    background-color: rgb(218, 133, 147);
    color: white;
    width: 65px;
}