* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.arrow-right {
    list-style-image: url(arrow-right_16.png);
}

#winter {
    list-style-image: url(snowflake_16.png);
}

#spring {
    list-style-image: url(leaf_g_16.png);
}

#summer {
    list-style-image: url(sun_16.png);
}

#autumn {
    list-style-image: url(leaf_y_16.png);
}